{% extends "base.html" %}

{% block content %}
<div style="max-width:500px; margin:60px auto; background:white; padding:30px; border-radius:12px;">
    <h2>Reset Password</h2>
    <p>Enter your email address and we will send you a reset link.</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" style="background:orange; padding:12px 20px; border:none; border-radius:8px; font-weight:bold;">
            Send Reset Link
        </button>
    </form>
</div>
{% endblock %}