{% extends 'base.html' %}

{% block title %}Add Product{% endblock %}

{% block content %}
<div class="container section-padding">
    <div class="row justify-content-center">
        <div class="col-lg-8">

            <div class="card shadow-sm">
                <div class="card-body p-4">

                    <h2 class="mb-4">Add Product</h2>

                   <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Product Name</label>
    <input type="text" name="name" required>

    <label>Description</label>
    <textarea name="description" required></textarea>

    <label>Amount / Price</label>
    <input type="number" name="amount" step="0.01" required>

    <label>Category</label>
    <input type="text" name="category" required>

    <label>Condition</label>
    <select name="condition" required>
        <option value="">Select condition</option>
        <option value="Excellent">Excellent</option>
        <option value="Good">Good</option>
        <option value="Fair/Damaged">Fair/Damaged</option>
    </select>

    <label>Main Product Image</label>
    <input type="file" name="image" required>

    <label>Available Colors</label>
    <input type="text" name="colors" placeholder="Example: Black, Silver, Blue">

    <label>Extra Product Images</label>
    <input type="file" name="gallery_images" multiple>

    <small>Upload front, back, side, and close-up images.</small>

    <button type="submit">Add Product</button>
</form>                       
 <a href="{% url 'seller_dashboard' %}" class="btn btn-outline-secondary ms-2">
                            Back to Dashboard
                        </a>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}