{% extends "base.html" %}

{% block content %}

<h2>Order Summary</h2>

{% for product in products %}
    <h3>{{ product.name }}</h3>

    <p>Quantity: {{ product.quantity }}</p>

    {% if product.selected_color %}
    <p><strong>Color:</strong> {{ product.selected_color }}</p>
    {% endif %}

   {% if product.selected_size %}
   <p><strong>Size:</strong> {{ product.selected_size }}</p>
   {% endif %}
    <p>Price: SLE {{ product.amount }}</p>
    <p>Subtotal: SLE {{ product.subtotal }}</p>
    <hr>
{% endfor %}

<h2>Total: SLE {{ total }}</h2>

<h2>Buyer Information</h2>

<form method="POST">
    {% csrf_token %}

    <label>Full Name</label><br>
    <input type="text" name="buyer_name" required><br><br>

    <label>Phone Number</label><br>
    <input type="text" name="buyer_phone" required><br><br>

    <label>Email</label><br>
    <input type="email" name="buyer_email"><br><br>

    <label>Address</label><br>
    <textarea name="buyer_address" required></textarea><br><br>

    <label>Payment Method</label><br>
    <select name="payment_method">
        <option value="Orange Money">Orange Money</option>
        <option value="Africell Money">Africell Money</option>
        <option value="Pay on Delivery">Pay on Delivery</option>
    </select><br><br>

    <button type="submit">Place Order</button>
</form>

{% endblock %}