{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="products-page">

    <h2 class="section-title">All Products</h2>

    <div class="product-container">
        {% for product in products %}
        <div class="product-card">

            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">

            <h3>{{ product.name }}</h3>
            <p class="category">{{ product.category.name }}</p>
            <p class="price">SLE {{ product.price }}</p>

            <!-- ONLY VIEW BUTTON -->
            <a href="{% url 'product_detail' product.id %}" class="view-btn">
                View
            </a>

        </div>
        {% empty %}
        <p>No products available.</p>
        {% endfor %}
    </div>

</div>

{% endblock %}