from django.shortcuts import render, redirect, get_object_or_404
from django.contrib.auth.decorators import login_required
from .models import Product


@login_required
def seller_dashboard(request):
    # Get products for logged-in seller
    products = Product.objects.filter(seller=request.user)

    # Total products count
    total_products = products.count()

    # Total inventory value
    total_value = sum([p.amount for p in products])

    context = {
        "products": products,
        "total_products": total_products,
        "total_value": total_value,
    }

    return render(request, "dashboard.html", context)